---
layout: default
title: Sampler
permalink: /sampler/
color: "#00bcd4"
---

{% include hero.html %}


<h1 style="text-align:center;">SAMPLER MODULES </h1>

{% include about.html %}
{% include about-hackathon.html %}
{% include analytics.html %}
{% include blog.html %}
{% include direction-details.html %}
{% include disqus-comments.html %}
{% include find-way.html %}
{% include footer.html %}
{% include hackathon-location.html %}
{% include head.html %}
{% include hero.html %}
{% include judges.html %}
{% include latest-news.html %}
{% include location-map.html %}
{% include navigation.html %}
{% include partners.html %}
{% include post.html %}
{% include prizes.html %}
{% include register.html %}
{% include rockstar-speakers.html %}
{% include schedule.html %}
{% include schema-event.html %}
{% include sessions-modals.html %}
{% include speakers-list.html %}
{% include speakers-list-2.html %}
{% include speakers-modals.html %}
{% include statistic.html %}
{% include subscribe.html %}
{% include tickets.html %}
{% include tickets-2.html %}
{% include top-section.html %}
{% include twitter-feed.html %}
{% include venue.html %}