<!-- About Section -->


<style>

    .img-circle {
        overflow: hidden;
        position: relative;
        width: 124px;
        height: 124px;
        background-size:cover ;
        margin: 0 auto;
    }
</style>
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>{{ site.aboutTitle }}</h4>
            <div class="row about-details">
                <p>
                    {{ site.aboutHeaderBody }}
                </p>

                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <div class="img-circle" style="background: url({{ site.baseurl }}/img/about-section/{{ about.image }})no-repeat center center; background-size: cover;"></div>
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
