<!-- About Section -->


<style>

    .img-circle {
        overflow: hidden;
        position: relative;
        width: 124px;
        height: 124px;
        background-size:cover ;
        margin: 0 auto;
    }
</style>



<section id="happenings" class="about">
    <h4>{{ site.happeningsTitle }}</h4>
    <div class="col-md-6">  
        <div>
            <h5>{{ site.happeningOneTitle }}</h5>
            <img src="{{ site.happeningOneImage }}" style="width: 100%; height: auto; max-width: 600px; margin: 0 auto;" alt="Image of person giving talk in a large classroom">
            <p style="max-width: 600px; margin: 15px auto;">{{ site.happeningOneText }}</p>
            <a href="{{ site.happeningOneLink }}" target="_blank"><button class="button btn-lg" type="text" style="font-weight: bold;color: black;background-color: transparent;border: 2px solid black">{{ site.happeningOneLinkText }}</button></a>
        </div>
    </div>
    <div class="col-md-6">  
        <div>
            <h5>{{ site.happeningTwoTitle }}</h5>
            <img style="width: 100%; height: auto; max-width: 600px; margin: 0 auto;" src="{{ site.happeningTwoImage }}" alt="">
            <p style="max-width: 600px; margin: 15px auto;">{{ site.happeningTwoText }}</p>
            <a href="{{ site.happeningTwoLink }}" target="_blank"><button class="button btn-lg" type="text" style="font-weight: bold;color: black;background-color: transparent;border: 2px solid black">{{ site.happeningTwoLinkText }}</button></a>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>{{ site.aboutTitle }}</h4>
            <div class="row about-details">
                <p>
                    {{ site.aboutHeaderBody }}
                </p>

                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <div class="img-circle" style="background: url({{ site.baseurl }}/img/about-section/{{ about.image }})no-repeat center center; background-size: cover;"></div>
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<section id="happenings2" class="about">
    <!--<h4>h4</h4>-->
    <div class="col-md-12">
        <div>
            <!--<h5>h5</h5>-->
            <img src="../img/about-section/map.jpeg" style="width: 100%; height: auto; margin: 0 auto; max-width: 1366px;"
                 alt="Diagram showing the backgrounds, genders, and country of origin for all participants">
            <!--<p style="max-width: 600px; margin: 15px auto;">{{ site.happeningOneText }}</p>-->
            <!--<a href="{{ site.happeningOneLink }}" target="_blank"><button class="button btn-lg" type="text" style="font-weight: bold;color: black;background-color: transparent;border: 2px solid black">Linktext</button></a>-->
        </div>
    </div>
</section>