<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>{{ site.aboutMainBodyTitle }}</h4>
            <div class="row about-details">
                <b>{{ site.aboutMainBodyHeading }}</b>
                <div class="about-details-full">
                    {% for block in site.data.about_copy %}
                        <div class="copy-block">
                            <h5>{{ block.heading }}</h5>
                            <p>{{block.text}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

