<style>

    table {
        width: 100%;
        margin:auto;
    }

    th {
        height: 50px;
        font-size:1.5em;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    td{
        max-width:350px;
        word-wrap: break-spaces;
    }

    td.col-example{
        max-width:200px;
    }

    .table {
        border-radius: 5px;
        /*width: 50% !important;*/
        margin: 0px auto;
        float: none;
    }

    .table th {
        text-align: center;
    }

</style>

<!-- Prize Category Section -->
<section id="prizeCategories" class="prizeCategories">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h5><b>{{ site.prizeCategoriesTitle }}</b></h5>
            <div class="row">
                <table class="table" align="center" style="margin:15px; font-size:1.4em;">
                    <thead>
                        <tr>
                            <th style="text-align:left;">Hackathon Themes</th>
                            <th style="text-align:left;">Categories and Examples</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in site.prizeCategories %}
                    <tr>
                        <td class="col-name">{{ category.name }}</td>
                        <td class="col-example">{{ category.example }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

