<!-- Prizes Section -->
<section id="prizes" class="prizes">
    <div class="content-wrapper ">
        <div class=" col-md-8 col-md-offset-2">
            <h2><b>{{ site.prizesOverallTitle }}</b></h2>
            <div class="prize-container">
            {% for prize in site.prizesOverall %}
                {% assign check = forloop.index | modulo:2 %}
                <div class="prize col-md-4">
                    <h4>{{ prize.title }}</h4>
                    {% if prize.image %}
                    <div class="prize-img-wrapper">
                        <img class="img-responsive" src="{{ site.baseurl }}/img/sponsors/{{ prize.image }}" alt="Hackathon">
                    </div>
                    {% endif %}
                    {% if prize.description %}
                        <p>{{prize.description}}</p>
                        <br>
                    {% endif %}
                    <br>
                    <p><b>{{ prize.info }}</b></p>
                    {% if prize.winner %}
                    <br>
                    <p style="font-size: 20px;"><b>Winner:</b> <a style="border-bottom: 1px solid;" href="{{prize.link}}" target="_blank">{{ prize.winner }}</a></p>
                    {% endif %}
                    {% if prize.winnerTwo %}
                    <br>
                    <p style="font-size: 20px;"><b>Winner:</b> <a style="border-bottom: 1px solid;" href="{{prize.linkTwo}}" target="_blank">{{ prize.winnerTwo }}</a></p>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class=" col-md-8 col-md-offset-2" style="margin-top: 100px;">
            <h2><b>{{ site.prizesCategoriesTitle }}</b></h2>
            <div class="prize-container">
            {% for prize in site.prizesCategories %}
                {% assign check = forloop.index | modulo:2 %}
                <div class="prize col-md-4">
                    <h4>{{ prize.title }}</h4>
                    {% if prize.image %}
                    <div class="prize-img-wrapper">
                        <img class="img-responsive" src="{{ site.baseurl }}/img/sponsors/{{ prize.image }}" alt="Hackathon">
                    </div>
                    {% endif %}
                    {% if prize.description %}
                        <p>{{prize.description}}</p>
                        <br>
                    {% endif %}
                    <br>
                    <p><b>{{ prize.info }}</b></p>
                    {% if prize.winner %}
                        <br>
                        <p style="font-size: 20px;"><b>Winner:</b> <a style="border-bottom: 1px solid;" href="{{prize.link}}" target="_blank">{{ prize.winner }}</a></p>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class=" col-md-8 col-md-offset-2" style="margin-top: 100px;">
            <h2><b>Other Giveaways</b></h2>
            <div class="prize-container">
                <h6>Boston Symphony Tickets</h6>
                <h6>Underscore VC Mentorship Prizes</h6>
                <h6>Unity 3D Licenses</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Prizes Section -->
