<!-- Begin QUOTES Section -->
<section id="statistic" class="statistic image-section parallax" style="background-color:white; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.quotesFromSponsorsBackground }});">
	<div class=""></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
            <div class="col-md-12 col-xs-12">
				<ul>
					{% for quote in site.quotesFromSponsors %}
					<li style="list-style:none;"><h2>"{{ quote.quote }}"
						<br>
						<b>{{ quote.sponsor}}</b></h2>
					</li>
					{% endfor %}
				</ul>

            </div>
		</div>
	</div>
</section>
<!-- End QUOTES Section -->