<!-- Begin Statistic Section -->
<section id="statistic" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.recapBackgroundImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
            <div class="col-md-{{ colWidth }} col-xs-6">
               <div style="text-align:center">
				<p>{{ site.recapText }}</p>
			   </div>
            </div>
		</div>
	</div>
</section>
<!-- End Statistic Section -->